/*
@font-face {
  font-family: ModeSeven;
  src: url(https://lavion6191.github.io/QuantumTheme/ModeSeven.woff2) format('woff2');
}

* {
   font-family: ModeSeven;
}
*/

:root {
  /* Shades of new main color*/
  --quantum-custom-main-0: #13131b;
  --quantum-custom-main-1: #13121e;
  --quantum-custom-main-2: #f2285b;
  --quantum-custom-main-3: #5b192f;
  --quantum-custom-main-4: #331624;
  --quantum-custom-main-5: #bebdc1;

  /* Chat section */
  --background-primary:   var(--quantum-custom-main-0);

  /* DM or Channels */
  --background-secondary: var(--quantum-custom-main-0);
  
  /* Servers or top grabbable */
  --background-tertiary:  var(--quantum-custom-main-0);

  /* Button colors */
  --brand-experiment:     var(--quantum-custom-main-2);
}

/* User input */
.themedBackground__6b1b6 {
  background-color:   var(--quantum-custom-main-1);
  border-radius:      2px;
  border:             2px solid var(--quantum-custom-main-3);
}

/* Username */
.username_d30d99 {
  font-weight: 100;
  font-size: 16px;
  color: var(--quantum-custom-main-2)
}

/* Timestamp */
.cozy_f5c119 .timestamp_cdbd93 {
  font-size: 10px;
}

/* User Text */
.markup_a7e664 {
  color: white;
}

/* Avatar, Status, Settings Container */
.theme-dark .container_ca50b9 {
  border-radius: 2px;
  /* border: 2px solid var(--quantum-custom-main-3);*/
  background-color: var(--quantum-custom-main-0);
  margin-bottom: 16px;
}

.privateChannels__93473 {
  border-radius: 2px;
}

.searchBar_e4ea2a {
  border-radius: 2px;
}

.panels__58331 {
  background-color: var(--quantum-custom-main-0);
}
