@font-face {
  font-family: ModeSeven;
  src: url(https://cdn.invalsia.com/fonts/ModeSeven.woff2) format('woff2');
}

* {
   font-family: ModeSeven;
}

:root {
  /* Shades of new main color*/
  --quantum-custom-main-0: #13131b;
  --quantum-custom-main-1: #f2285b;
  --quantum-custom-main-2: #5b192f;
  --quantum-custom-main-3: #331624;

  /* Custom font */
  font-family: ModeSeven;

  /* Chat section */
  --background-primary:   var(--quantum-custom-main-0);

  /* DM or Channels */
  --background-secondary: var(--quantum-custom-main-0);
  
  /* Servers or top grabbable */
  --background-tertiary:  var(--quantum-custom-main-0);
}

.themedBackground__6b1b6 {
  background-color:       var(--quantum-custom-main-0);
  border-radius:          2px;
  border:                 2px solid var(--quantum-custom-main-2);
}
